<nav class="flex justify-between">
  <button
    aria-label="settings"
    color="accent"
    id="navigateToSettingsPage"
    mat-fab
    routerLink="settings"
  >
    <mat-icon>settings</mat-icon>
  </button>
  <button
    aria-label="add a new idea"
    id="navigateToAddPage"
    mat-fab
    routerLink="add"
  >
    <mat-icon>add</mat-icon>
  </button>
</nav>

<h3 id="ideaDraftHeading">Drafts</h3>
<section class="flex flex-wrap gap-2 w-full">
  @for (draft of drafts$ | async; track draft._id) {
    <mat-card class="w-96">
      <mat-card-header>
        <mat-card-title class="text-lg">
          @if (isEditing[draft._id]) {
            <input [(ngModel)]="draft.title" type="text" />
          } @else {
            <h6>{{ draft.title }}</h6>
          }
        </mat-card-title>
        <mat-card-subtitle
          >{{ draft.createdAt | date: 'dd MMM' }}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="h-full">
        @if (isEditing[draft._id]) {
          <textarea [(ngModel)]="draft.description"></textarea>
        } @else {
          <p
            [innerHTML]="draft.description"
            id="card-description"
            class="break-words"
          ></p>
        }
      </mat-card-content>

      <mat-card-actions align="end" class="space-x-1">
        @if (!isEditing[draft._id]) {
          <button mat-button color="accent" (click)="toggleEdit(draft._id)">
            Edit
          </button>
          <button
            mat-flat-button
            (click)="
              submitDraft(draft._id, {
                title: draft.title,
                description: draft.description,
                userId: draft.userId,
              })
            "
          >
            Submit
          </button>
        } @else {
          <button mat-button (click)="deleteDraft(draft._id)">
            <span class="text-status-rejected">Delete</span>
          </button>
          <button
            mat-flat-button
            (click)="
              updateDraft(draft._id, {
                title: draft.title,
                description: draft.description,
              })
            "
          >
            Save
          </button>
        }
      </mat-card-actions>
    </mat-card>
  }
</section>

<h1 class="text-center" id="ideaFeedHeading">Idea Feed</h1>
@if (ideas$ | async; as ideas) {
  @if (user$ | async; as user) {
    <conidea-idea-feed
      [ideas]="ideas"
      [isStatusChangeable]="user.role === UserRole.Reviewer"
      (statusChange)="onStatusChange($event)"
      (commentCreation)="onCommentCreation($event)"
    />
  }
} @else {
  No Ideas posted yet.
}
